@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');
:root{
  --white: #FFFFFF;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

.login{
  width:100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.form-container{
    margin-top: 2rem;
  display: grid;
  grid-template-rows:auto 1fr auto;
  width: 25rem;
  justify-items: center;
}
.logo{
  width:150px;
  margin-bottom: 4rem;
  justify-self: center;
  display: none;
}

@media (max-width: 640px){
  .logo{
    display: block;
  }
}

.primary-button{
    background-color: var(--hospital-green);
    border: none;
    border-radius: 8px;
    padding: 8px;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight:bold;
    height: 3rem;
  }

  .input{
    background-color: var(--text-input-field);
    border:none;
    border-radius: 8px;
    height: 1.5rem;
    font-size:var(--md);
    margin-bottom: .8rem;
    margin-top: 0;
    padding: .4rem;
  }
  .form{
    display: flex;
    flex-direction: column;
  }

.reset a{
    text-decoration: none;
    color: var(--hospital-green);
    margin-bottom: 0;
}

.button{
    margin-top: 3rem;
    background-color: var(--white);
    border: 2px solid var(--hospital-green);
    border-radius: 8px;
    color: var(--hospital-green);
    padding: 8px;
    width: 13rem;
    cursor: pointer;
    font-size: var(--md);
    font-weight:bold;
    height: 3rem;
}
@media (max-width: 640px){
    .button{
        margin-top: 12rem;
        margin-bottom: 0;
    }
}