@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');
:root{
  --white: #FFFFFF;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin:0;
}

body{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

.desktop-menu{
    width:100px;
    border: 1px solid var(--very-light-pink);
    border-radius:6px;
    padding: 20px 20px 0 2px;
}

.desktop-menu ul li{
    text-align: end;
}
.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
    color: var(--very-light-pink);
}
.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul li a{
    color:var(--black);
    display: inline-block;
    margin-bottom: 20px;
    margin:
}
